<div class="index-container">
  <img src="/public/images/beer.png" alt="Beer">
  <div class="button-box">
  <p>
    <button onclick="window.location.href='/beers'">Check the beers!</button>
  </p>
  
  <p>
    <button onclick="window.location.href='/random-beers'">Check a random Beer!</button>
  </p>
  
  </div>
</div>